<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="DeveloperHub_ColorOrderCustomerGrid::manage"
             title="Color Grids"
             module="DeveloperHub_ColorOrderCustomerGrid"
             sortOrder="10"
             resource="DeveloperHub_ColorOrderCustomerGrid::manage"
             parent="DeveloperHub_Core::developerhub"
        />
        <add id="DeveloperHub_ColorOrderCustomerGrid::config"
             title="Configuration"
             module="DeveloperHub_ColorOrderCustomerGrid"
             sortOrder="20"
             action="admin/system_config/edit/section/developerhub_colorgrids/"
             resource="DeveloperHub_ColorOrderCustomerGrid::manage"
             parent="DeveloperHub_ColorOrderCustomerGrid::manage"
        />
    </menu>
</config>
